* {
  font-family: "Advent Pro", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(242, 184, 216);
  color: white;
  padding: 0 10px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
  font-weight: 500;
  text-align: center;
  padding: 0 16px;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 10px 16px;
  display: block;
}

.hamburger-menu {
  position: absolute;
  top: 3rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 25px;
}

.hamburger-menu .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

a {
  text-decoration: none;
}

.logoenxhi {
  max-width: 220px;
  margin-left: 30px;
}

a:hover {
  text-shadow: 0 0 10px rgb(255, 255, 255);
  transition-duration: 0.35s;
  cursor: pointer;
  color: rgb(167, 52, 157);
}

.s2iLink {
  color: rgb(58, 197, 155);
}
.s2iLink:hover {
  color: rgb(97, 230, 177);
}

.container-xl {
  border: 2px solid red;
}

.col-md-4,
.col-md-8 {
  border: 2px solid green;
}

.pollicesu {
  width: 25px;
  margin-bottom: 8px;
}

.myphoto {
  max-width: 220px;
  min-width: 40px;
  margin-bottom: 10px;
  padding: 10px 0;
}

.benvenuto-md,
.presentazione-md {
  border: 1px solid red;
  display: flex;
  align-items: center;
}

.benvenuto-md {
  font-weight: 600;
  padding-left: 5px;
}

.container-xl {
  background-color: white;
}

.container-xxl {
  background-color: pink;
  height: 100%;
  position: relative;
  margin-top: -30px;
}

.presentazione-md {
  font-size: 23px;
  padding-left: 20px;
  margin-top: 5px;
}

.smile,
.testo {
  display: flex;
  align-items: center;
  border: 1px solid green;
  margin-left: 15px;
}

.smileImg {
  max-width: 30px;
}

h2 {
  margin: 10px 0;
}

.ikigaiImg {
  width: 23px;
}

p {
  font-size: 20px;
}

.listItem {
  font-size: 25px;
  margin-bottom: -10px;
}

.s2i {
  color: rgb(97, 230, 177);
  font-weight: 600;
}

/* scrita arcobaleno */
.arcobaleno {
  background-image: linear-gradient(
    to right,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  color: transparent;
}

.familyImg,
.catImg,
.pizzaImg,
.codingImg {
  margin-bottom: 10px;
  margin-top: -10px;
  width: 200px;
}

h3 {
  margin-bottom: 40px;
  padding-top: 10px;
}

.titleEducation {
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.col,
.col-4,
.col-5 {
  border: 1px black solid;
}

@media (max-width: 767px) {
  .logoenxhi {
    margin-top: 38px;
    margin-left: 30px;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.3rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .hamburger-menu {
    display: flex;
  }

  p {
    font-size: 18px;
  }
  h2 {
    font-size: 25px;
  }

  body {
    margin-top: -30px;
  }
  .myphoto {
    margin-top: 10px;
    max-width: 200px;
  }
}

@media (min-width: 100px) {
  .myphoto {
    margin-top: 10px;
    max-width: 130px;
  }
}

@media (min-width: 768px) and (max-width: 15000px) {
  .myphoto {
    margin-top: 10px;
    margin-left: -20px;
    max-width: 250px;
  }

  .navbar-links {
    display: flex;
  }
}
