* {
  font-family: "Advent Pro", sans-serif;
  box-sizing: border-box;
  cursor: url("./images/pointer.png"), auto;
}

body {
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.introduction {
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.containerPresentation {
  display: flex;
  justify-content: center;
}

.presentation {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin-top: 10px;
}

.centerIntroduction {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  align-items: center;
}

.presentation p {
  text-align: center;
}

.intJstext,
.intTitle {
  width: 100%;
}

.intTitle p {
  font-size: 22px;
}

.intJstext h3 {
  font-size: 25px;
}

.introductionText {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-left: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  background-image: url("images/wave.svg");
  padding: 0 10px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
  font-weight: 500;
  text-align: center;
  padding: 0 15px;
}

.navbar-links li a {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  display: block;
}

.hamburger-menu {
  position: absolute;
  top: 3rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 25px;
}

.hamburger-menu .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: palevioletred;
}

.logoenxhi {
  max-width: 220px;
  margin-left: 30px;
}

a:hover {
  text-shadow: 0 0 10px rgb(255, 255, 255);
  transition-duration: 0.35s;
  color: rgb(131, 45, 67);
  cursor: url("./images/pawprint.png"), auto;
}

.s2iLink {
  color: rgb(58, 197, 155);
}
.s2iLink:hover {
  color: rgb(97, 230, 177);
}

.container-xl {
  /* border: 2px solid red; */
  width: 100%;
}

/* .col-md-4,
.col-md-8 {
  border: 2px solid green;
} */

.col-md-4 {
  width: 30%;
}

.col-md-8 {
  width: 70%;
}

.row-ms-4 {
  display: flex;
  justify-content: center;
}

.pollicesu {
  width: 25px;
  margin-bottom: 8px;
}

.containermyphoto {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  margin-bottom: 20px;
}

.containermyphoto .myphoto {
  max-width: 250px;
  min-width: 120px;
}

.bitmoji {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  max-width: 200px;
}

.benvenuto-md,
.presentazione-md {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  width: 100%;
}

.benvenuto-md {
  font-weight: 600;
  padding-left: 5px;
}

.container-xl {
  background-color: white;
}

.container-xxl {
  background-color: rgb(255, 255, 255);
  height: 100%;
  position: relative;
  /* margin-top: -92px; */
}

.presentazione-md {
  font-size: 23px;
  padding-left: 20px;
  margin-top: 5px;
}

.smile,
.testo {
  display: flex;
  align-items: center;
  /* border: 1px solid green; */
  margin-left: 15px;
}

.smileImg {
  max-width: 30px;
}

h2 {
  margin: 10px 0;
}

.ikigaiImg {
  width: 23px;
  margin-bottom: 6px;
}

p {
  font-size: 20px;
}

.listItem {
  font-size: 25px;
  margin-bottom: -10px;
}

.s2i {
  color: rgb(97, 230, 177);
  font-weight: 600;
}

/* scrita arcobaleno */
.arcobaleno {
  background-image: linear-gradient(
    to right,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.familyImg,
.catImg,
.pizzaImg,
.codingImg {
  margin-bottom: 10px;
  margin-top: -10px;
  width: 200px;
}

h3 {
  margin-bottom: 40px;
  padding-top: 10px;
}

.titleEducation,
.titleEducationRight {
  font-weight: 600;
  display: flex;
  padding: 10px 10px 0 10px;
}

.titleEducationText,
.titleEducationTextRight {
  display: flex;
  padding: 10px 10px 0 10px;
}

.titleEducation,
.titleEducationText {
  justify-content: left;
  text-align: left;
}

.titleEducationRight,
.titleEducationTextRight {
  justify-content: right;
  text-align: right;
}

.col,
.col-2,
.col-10 {
  /* background-color: yellow; */
  align-items: center;
}

.col-md-4,
.col-2,
.col-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-4 {
  /* border: 2px pink solid; */
  height: 150px;
  width: 200px;
}

.row-competenza {
  display: flex;
  justify-content: center;
}

.row-text {
  text-align: center;
  background-color: white;
  margin-top: -20px;
}
.row-text p {
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.row {
  display: flex;
  margin: auto;
  width: 80%;
}

.flower {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imgFlower {
  width: 20px;
  height: 20px;
  margin: -20px 10px;
}

.formazione {
  display: block;
  justify-content: center;
}

.eduIcons {
  min-width: 80px;
  max-width: 100px;
  padding: 5px;
  margin: 2px 10px;
}

.competenze {
  display: flex;
  justify-content: center;
  width: 100%;
}

.col-5 {
  width: 30%;
}

.col-7 {
  width: 70%;
}

.decorationImage {
  width: 100%;
}

.decorationImage2 {
  width: 70%;
}

.contactForm {
  width: 50%;
  background-color: #fdd1dc6f;
  border: 3px #fdd1dc solid;
  padding: 20px;
  border-radius: 20px;
}

.contactForm h2 {
  font-size: 30px;
  font-weight: 500;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px #fdd1dc solid;
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: grey;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 40%;
  background-color: #fdd1dc;
  color: black;
  border: none;
  cursor: url("./images/pawprint.png"), auto;
  padding: 10px;
  font-size: 18px;
}

.container {
  width: 80%;
  display: flex;
  justify-content: center;
  border: 10px #fdd1dc dotted;
  padding: 20px 0;
  border-radius: 20px;
}

.inputBox {
  display: flex;
  justify-content: center;
}

.byeSticker {
  width: 200px;
}

.byemoji {
  width: 130%;
}

.socialBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 25px;
}

.socialTesto {
  width: 40%;
  text-align: right;
}

.socialIcone img {
  width: 20%;
  padding-left: 15px;
  cursor: url("./images/pawprint.png"), auto;
}

.socialIcone {
  padding: 10px 20px;
}

.footer {
  width: 100%;
  background-color: #fdd1dc;
  font-size: 22px;
  text-align: center;
}

.goBack {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.goBack img {
  width: 50px;
}

.goBack img:hover {
  cursor: url("./images/pawprint.png"), auto;
}

@media (max-width: 800px) {
  .col-4 {
    min-width: 130px;
    max-width: 180px;
  }

  .containermyphoto {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
  
  .containermyphoto .myphoto {
    width: 100%;
  }
  
  .introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .introductionText {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .centerIntroduction {
    align-items: center;
    text-align: center;
    margin-top: 30px;
    width: 100%;
  }

  .competenze {
    width: 100%;
    flex-direction: column;
  }

  .socialBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .socialIcone {
    width: auto;
    align-items: center;
    text-align: center;
  }

  .socialTesto {
    text-align: center;
  }
}

.eduIcons:hover {
  transform: scale(1.2);
  transition: all 0.3s linear;
}

.smile {
  display: inline;
}

.smile img {
  width: 30px;
  padding-right: 5px;
  padding-left: -5px;
}

@media (max-width: 520px) {
  .col-4 {
    min-width: 40px;
    max-width: 100px;
  }

  .socialBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .socialIcone {
    width: auto;
    align-items: center;
    text-align: center;
  }

  .competenze {
    width: 100%;
  }

  .centerIntroduction p {
    font-size: 15px;
  }

  .centerIntroduction h1 {
    font-size: 25px;
  }

  .centerIntroduction h3 {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .logoenxhi {
    margin-top: 38px;
    margin-left: 30px;
  }

  .goBack {
    position: fixed;
    bottom: 30px;
    right: 20px;
  }

  .goBack img {
    width: 40px;
  }

  .byeSticker {
    display: none;
  }

  .contactForm {
    width: 100%;
  }

  .col-5 {
    display: none;
  }

  .col-7 {
    width: 100%;
  }

  .navbar {
    background-repeat: no-repeat;
  }

  .col-md-4 {
    display: none;
  }

  .col-md-8 {
    width: 100%;
  }

  .col-2 {
    display: none;
  }
  .col-10 {
    width: 100%;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
    background-color: transparent;
  }

  .navbar-links li a {
    padding: 0.3rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .hamburger-menu {
    display: flex;
  }

  p {
    font-size: 20px;
  }
  h2 {
    font-size: 25px;
  }

  p.title {
    font-size: 25px;
  }

  p.text {
    font-size: 20px;
  }

  body {
    margin-top: -30px;
  }

  .col-4 {
    width: 50%;
  }
}

@media (max-width: 320px) {
  .logoenxhi {
    max-width: 50%;
    align-items: flex-start;
  }
}

@media (min-width: 767px) and (max-width: 800px) {
  .bitmoji {
    max-width: 100%;
  }
  .col-md-4 {
    min-width: 20%;
    max-width: 20%;
    align-items: center;
  }
  .col-md-8 {
    min-width: 80%;
    max-width: 80%;
  }
}

@media (min-width: 801px) and (max-width: 15000px) {
  .bitmoji {
    max-width: 100%;
  }
  .col-md-4 {
    min-width: 20%;
    max-width: 20%;
    align-items: center;
  }
  .col-md-8 {
    min-width: 80%;
    max-width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 15000px) {
  .navbar-links {
    display: flex;
  }

  p {
    font-size: 25px;
  }

  p.title {
    font-size: 27px;
  }

  p.text {
    font-size: 25px;
  }

  h2 {
    font-size: 35px;
  }
}
